/*-- scss:defaults --*/

// Import fonts 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

// colors 
$purple: #7E60C1;
$green: #22662B;
$blue: #225466;
$lilac: #F3EEF5;
$light-purple : #E6D0EE;
$dark-purple : #53166A;

// base document colors
$navbar-bg: $purple;
$navbar-fg: $lilac;
$body-bg : $light-purple;
$footer-bg : $blue;
$link-color: $purple;

/*-- scss:rules --*/
h1, h2 {
  letter-spacing: 5px;
  color: $purple;
}

.title {
  color : $dark-purple;
}

.center-text {
  text-align: center;
}