/*-- scss:defaults --*/

// Import fonts 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

// colors 
$sagegreen: #acbb90;
$evergreen : #274625;
$lightgreen: #d6dcc5;
$orangebrown: #aa7c57;
$beige: #fdf0d0;
$cream : #eee1c7;
$dark-purple : #53166A;

// base document colors
$navbar-bg: $evergreen;
$navbar-fg: $lightgreen;
$body-bg : $sagegreen;
$footer-bg : $beige;
$link-color: $cream;

/*-- scss:rules --*/
h1, h2 {
  letter-spacing: 5px;
  color: $evergreen;
}

.title {
  color : $lightgreen;
}

.center-text {
  text-align: center;
}