/*-- scss:defaults --*/

// Import fonts 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

// colors 
$marianblue: #424874;
$periwinkle: #DCD6F7;
$blueperiwinkle: #A6B1E1;
$frenchgray: #CACFD6;
$azure: #D6E5E3;

// base document colors
$navbar-bg: $marianblue; 
$navbar-fg: $periwinkle; 
$body-bg: $frenchgray; 
$footer-bg: $marianblue; 
$link-color: $blueperiwinkle;

/*-- scss:rules --*/
h1, h2 {
  letter-spacing: 5px;
  color: $frenchgray;
}

.title {
  color : $frenchgray;
  text-size : 30px;

.center-text {
  text-align: center;
}
  
}